@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
   
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div style="border:solid">
        <img src="~/images/h1.jpg" align="left" style="width:400px;height:300px;" />
        <p>price: 50,000$</p>
    </div>
    <br />
    <br />
    <img src="~/images/h2.jpeg" style="width:800px;height:600px;"/>

</div>

